// it's less than or equal 600px 
// this media query working
@import 'functions.scss';
$max-width: max-width;
$min-width: min-width;
$mobile-width: 600px;

@media screen and ($max-width : $mobile-width) {
  nav{
    .brand-logo{
        left: 11%!important;
        width: 30%;
        margin-top: 1%; 
    }
    .sidenav-trigger{
        float: right!important;
        margin: 0px!important; 
    } 
  }
  .nav-wrapper{
    .search-wrapper{ @include search-wrapper(60%, fixed, 11%, 0%, 0%); }
    .input-field{
        input[type=search]{
            margin-top: 8%;
            padding-left: 0.5rem!important;
            width: 100%!important; 
        }
        .label-icon{
            display:none; 
        }
        .search-i-close{
            @include search-i-close(-12px, 19px, 0.5rem!important, -1px!important) 
        } 
    }
    .dropdown-width{
        text-align: center; 
    } 
  }
 
}

// it's less than or equal 992px
// this media query working

$table-width: 992px;

@media screen and ($max-width: $table-width){

}

// it's less than or equal 993px 
// this media query working

$notebook-width: 993px;

@media screen and ($min-width: $notebook-width){

}

// it's less than or equal 1200px
// this media query working

$big-screen-width: 1200px;

@media screen and ($min-width: $big-screen-width){
   .nav-wrapper{
    
    .input-field{
        
        .search-i-close{
            @include search-i-close(-15px, 19px, 4rem!important, -1px!important) 
        } 
    }
     
  } 
}

